<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        body {
            background-color: darkslategrey;
        }
        h1 {
            color: rgb(129, 201, 87);
            text-align: center;
            margin-top: 20%;
            font-size: 70px;

        }
        #link {
            color: rgb(145, 185, 122);
            text-align: center;
            margin-top: 20%;
            font-size: 30px;
            
        }

    </style>
</head>
<body>
    <h1>404</h1>
    <a id="link" href="/flights/">Back to Flights</a>
</body>
</html>